<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306317196693-9h51sn9vr710p6maoniqj8lsj8g1ui5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306317196693-9h51sn9vr710p6maoniqj8lsj8g1ui5o</string>
	<key>API_KEY</key>
	<string>AIzaSyD-APklskFLn9kfr0usC9T3GeyjPRyki5A</string>
	<key>GCM_SENDER_ID</key>
	<string>306317196693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>suthichai.chu-th.ac.dome.Reddit-Clone</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-adaf1</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-adaf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306317196693:ios:e96dd6162c5b26fda7ca9c</string>
</dict>
</plist>